/*利用绝对定位进行三列式布局*/
.top{
	border:1px solid #999;
	/* overflow:hidden;  清除浮动对父元素的影响；也可以写为overflow:auto;*/
	height:700px;
	margin:20px 20px;
	/**padding:20px 20px;**/
	background-color:#eee;
	position:relative;
	
}

/*左侧*/
.left{
	border:1px solid #999;
	background-color:#FFFFFF;
	position:absolute;
	left:20px;
	top:20px;
	width:200px;
	height:auto;
}
.left span{
	font-size:16px;
	float:right;
}
/*团队Logo*/
.team{
	border:1px solid #999;
	background-color:#eee;
	margin:20px;
	width:80px;
	height:80px;
	
}
.team span{
	font-size:12px;
	display:inline-block;
	text-align:center;
}

/*中间*/
.middle{
	border:1px solid #999;
	background-color:#FFFFFF;
	position:absolute;
	margin:20px 160px 20px 240px;
	height:auto;
}
.content{
	overfolow:hidden;
}
/*右侧*/
.right{
	border:1px solid #999;
	background-color:#FFFFFF;
	position:absolute;
	right:20px;
	top:20px;
	width:120px;
	height:auto;
}
.private-logo{
	border:1px solid #999;
	background-color:#eee;
	margin:17px 19px;
	width:80px;
	height:80px;
}
